:root {
  --primary-color: rgba(141, 196, 15, 1);
  --secondary-color: red;
}

.instructions,
.slider {
  position: absolute;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.slider {
  top: 10px;
  right: 10px;
}

.instructions {
  text-align: center;
  bottom: 0;
  background: initial;
  color: black;
}

body {
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  background: url('http://bit.ly/2FiPrRA') 0 100%/340px no-repeat, var(--primary-color);
}

main.booth {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-box {
  padding: 1rem 3.5rem;
  margin-bottom: 1rem;
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 0.3rem;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
}

.color-boxes {
  background: var(--secondary-color);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
  border-radius: 0.3rem;
  transform: perspective(500px) rotateY(calc(var(--slider)*1deg));
  transition: transform 0.3s;
}

.color-box:nth-child(1) {
  background: var(--bg-1)
}

.color-box:nth-child(2) {
  background: var(--bg-2)
}

.color-box:nth-child(3) {
  background: var(--bg-3)
}

.color-box:nth-child(4) {
  background: var(--bg-4)
}

.color-box:nth-child(5) {
  background: var(--bg-5)
}

.color-box:nth-child(6) {
  background: var(--bg-6)
}